<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">
      Get your business
      <br />
      online today
    </h2>
    <p>
      Start developing the high-quality website that your business deserves.
    </p>
    <a href="/contact" class="cs-button-solid">Contact Us</a>
  </div>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/Midtown-08278.jpeg"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/Midtown-08278.jpeg"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/Midtown-08278.jpeg"
      alt="kitchen cabinets"
      loading="lazy"
      width="2500"
      height="1667"
    />
  </picture>
</section>
